.btn-default
  &.btn-maroon
    background: $maroon
    border-color: $maroon
    color: $white
    &:hover
      background: $dark-maroon
      border-color: $dark-maroon

  &.btn-peach
    background: $peach
    border-color: $peach
    color: $white
    &:hover
      background: $dark-peach
      border-color: $dark-peach

  &.btn-dark-tan
    background: $dark-tan
    border-color: $dark-tan
    &:hover
      background: $darker-tan
      border-color: $darker-tan
