.btn-default
  &.btn-primary-blue
    background: $primary-blue
    border-color: $primary-blue
    color: $white
    &:hover
      background: $dark-primary-blue
      border-color: $dark-primary-blue

  &.btn-secondary-blue
    background: $secondary-blue
    border-color: $secondary-blue
    color: $white
    &:hover
      background: $dark-secondary-blue
      border-color: $dark-secondary-blue

  &.btn-tertiary-blue
    background: $tertiary-blue
    border-color: $tertiary-blue
    &:hover
      background: $dark-tertiary-blue
      border-color: $dark-tertiary-blue

  &.btn-gray
    background: $dark-gray
    border-color: $dark-gray
    &:hover
      background: $darker-gray
      border-color: $darker-gray
