.gray-bg
  background: $gray

.primary-bg
  background: $primary-blue

.secondary-bg
  background: $secondary-blue

.tertiary-bg
  background: $tertiary-blue

.quaternary-bg
  background: $quaternary-blue

.m-b-0
  margin-bottom: 0

.m-t-0
  margin-top: 0

.m-auto
  margin-left: auto
  margin-right: auto

.icon-sm
  height: ms(7)

.icon-md
  height: ms(8)
