.main
  padding-top: ms(6)
  padding-bottom: ms(6)
  img
    border-radius: 100%
    border: 1px solid $secondary-blue
.companies
  padding-top: ms(6)
  padding-bottom: ms(6)
  .company
    display: flex
    align-items: flex-start
    padding-left: ms(1)
    margin-bottom: ms(1)
    border-left: ms(-8) solid $secondary-blue
    border-top-right-radius: 3px
    border-bottom-right-radius: 3px
    transition: 300ms
    -webkit-transition: 300ms
    .company-logo
    &:hover
      cursor: pointer
      border-left: ms(0) solid $secondary-blue
      .company-logo
        .cover
          opacity: 0
    .company-logo
      margin-right: ms(2)
      position: relative
      .cover
        background-color: $quaternary-blue
        width: 85px
        position: absolute
        top: 0
        left: 0
        opacity: 0.4
        border-radius: ms(-6)
        transition: 300ms
        -webkit-transition: 300ms
      img
        border-radius: ms(-6)
    .marker
      display: block
      height: 60px
      width: 2px
      background: $tertiary-blue
      float: left
      margin-right: ms(1)
.email
  padding-top: ms(4)
  padding-bottom: ms(4)
  .form-item
    align-items: flex-end
  .seperator
    display: block
    width: ms(8)
    height: 2px
    background: $tertiary-blue
    margin-top: ms(0)
    margin-bottom: ms(0)
  .email-btn
    padding-top: ms(2)
  .hello
    a
      font-weight: 700
      color: $primary-blue
      font-size: ms(1)
      padding-left: ms(-5)
      text-decoration: none
      transition: 200ms
      -webkit-transition: 200ms
      &:hover
        color: $primary-blue
  .clear
    input
      background: $primary-blue
      border-color: $primary-blue
      &:hover
        background: $dark-primary-blue
        border-color: $dark-primary-blue
        cursor: pointer
.footer
  padding-top: ms(2)
  padding-bottom: ms(2)
