// color
$gray: #E2E8F2
$brown: #916A70
$red: #FF404B

// shade
$white: #FFFFFF
$black: #2D2E30

// typeface
$ch-light: "CooperHewitt-Light"
$ch-book: "CooperHewitt-Book"
$ch-medium: "CooperHewitt-Medium"
$ch-semibold: "CooperHewitt-Semibold"
$ch-bold: "CooperHewitt-Bold"
