// color
$maroon: #472D38
$green: #72AD97
$tan: #D6D9BA
$orange: #E6AF83
$peach: #D16C5C
$white: #FFFFFF

// darken
$dark-maroon: darken($maroon, 10%)
$dark-peach: darken($peach, 10%)
$dark-tan: darken($tan, 10%)
$darker-tan: darken($tan, 20%)

// typeface
$p-medium: "PublicoHeadlineWeb-Medium"
$p-extabold: "PublicoHeadlineWeb-Extrabold"
