extends layout

block content
  .main.gray-bg
    .container
      .row
        .col-xs-12
          img.icon-sm( src="/images/logo/standard-stack-logo-white-lg.png" alt ="standard stack logo" )
          .space-2
      .row
        .col-xs-12
          h1.m-b-0 standard stack
          h3.m-b-0.book Curated list of the best tools for growing startups. 
  
  .companies.brown-bg
    .container.dark-bg
      .row
        .col-md-4.col-xs-12
          h3.upper hr
        .col-md-8.col-xs-12
          .company.gusto
            h4.upper.m-b-0 payroll
            p.grow Gusto
          .company.zenefits
            h4.upper.m-b-0 health insurance
            p.grow Zenefits
      
      .space-4
      
      .row
        .col-md-4.col-xs-12
          h3.upper Events + Travel
        .col-md-4.col-xs-12
          .company.pana
            h4.upper.m-b-0 Travel
            p.grow Pana
          .company
            h4.upper.m-b-0 Scheduling
            p.grow Calendly
        .col-md-4.col-xs-12
          .company
            h4.upper.m-b-0 Assistant
            p.grow Clara
      
      .space-4
            
      .row
        .col-md-4.col-xs-12
          h3.upper Books
        .col-md-8.col-xs-12
          .company.bench
            h4.upper.m-b-0 Accounting
            p.grow Bench
          .company
            h4.upper.m-b-0 Expenses
            p.grow Expensify
            
      .space-4
      
      .row
        .col-md-4.col-xs-12
          h3.upper sales
        .col-md-8.col-xs-12
          .company
            h4.upper.m-b-0 CRM
            p.grow Streak
          .company
            h4.upper.m-b-0 Outbound
            p.grow Sendbloom
    
      .space-4
      
      .row
        .col-md-4.col-xs-12
          h3.upper support & marketing
        .col-md-8.col-xs-12
          .company
            h4.upper.m-b-0 Customer support
            p.grow Intercom
          .company
            h4.upper.m-b-0 Print
            p.grow Moo
            
      .space-4
      
      .row
        .col-md-4.col-xs-12
          h3.upper Internal communication
        .col-md-8.col-xs-12
          .company
            h4.upper.m-b-0 Doucment flow
            p.grow Dropbox Paper
          .company
            h4.upper.m-b-0 Team communication
            p.grow Slack
      
      .space-4
      
      .row
        .col-md-4.col-xs-12
          h3.upper Miscellaneous
        .col-md-4.col-xs-12
          .company
            h4.upper.m-b-0 Conference calls
            p.grow Uberconference
          .company
            h4.upper.m-b-0 Phone
            p.grow Dialpad
        .col-md-4.col-xs-12
          .company
            h4.upper.m-b-0 Hand written
            p.grow Bond
